{% extends 'base_auth.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <div class="w-1/2  hidden lg:block">
        <img src="https://img.freepik.com/fotos-premium/imagen-fondo_910766-187.jpg?w=826" alt="Placeholder Image" class="object-cover w-full h-full">
    </div>
    <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
        <h1 class="text-2xl font-semibold mb-4">Connexion</h1>
        <form method="post" action="#" class="space-y-4">
            
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

          
            <div class="mb-4">
                <label for="username" class="block text-gray-600">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="email" required autofocus>
            </div>

           
            <div class="mb-4">
                <label for="password" class="block text-gray-800">Password</label>
                <input type="password" name="_password" id="password" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="current-password" required>
            </div>

            <div class="mb-6 text-blue-500">
                <a href={{path ('app_forgot_password')}} class="hover:underline">Mot de passe oublié?</a>
            </div>

            <!-- Login Button -->
            <button type="submit" class="bg-red-500 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-full">
            Connexion
            </button>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        </form>
        
        <!-- Sign up Link -->
        <div class="mt-6 text-green-500 text-center">
            <a href="#" class="hover:underline">Créer un compte</a>
        </div>
    </div>

{% endblock %}
